# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
README.md
LICENSE
tests/
*.md
!docker/README.md 